<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Address Details Form</h2>
      <p class="lead">Please provide your address details:</p>
    </div>
  </main>
  <div class="container mt-4">
<%= form_with(model: @ads,url: address_path, local: true) do |f| %>
      <!-- First set of address details -->
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :Door_number %>
            <%= f.text_field :Door_number, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :Floor_number %>
            <%= f.text_field :Floor_number, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :Building_name %>
            <%= f.text_field :Building_name, class: "form-control" %>
          </div>
        </div>
      </div>

      <!-- Second set of address details -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :Street_name %>
            <%= f.text_field :Street_name, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :Area %>
            <%= f.text_field :Area, class: "form-control" %>
          </div>
        </div>
      </div>

      <!-- Third set of address details -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :Post %>
            <%= f.text_field :Post, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :village %>
            <%= f.text_field :village, class: "form-control" %>
          </div>
        </div>
      </div>

      <!-- Fourth set of address details -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :Pincode %>
            <%= f.text_field :Pincode, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :Landmark %>
            <%= f.text_field :Landmark, class: "form-control" %>
          </div>
        </div>
      </div>

      <!-- Fifth set of address details -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :City %>
            <%= f.text_field :City, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :District %>
            <%= f.text_field :District, class: "form-control" %>
          </div>
        </div>
      </div>

      <!-- Sixth set of address details -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :State %>
            <%= f.text_field :State, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :Country %>
            <%= f.text_field :Country, class: "form-control" %>
          </div>
        </div>
      </div>

      <!-- Seventh set of address details -->
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :Continent %>
            <%= f.text_field :Continent, class: "form-control" %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :Current_address %>
            <%= f.text_area :Current_address, class: "form-control" %>
          </div>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row">
        <div class="col-md-12">
<%= f.submit 'Submit', class: "btn btn-danger btn-block m-5" %>
        </div>
      </div>
    <% end %>
  </div>
</div>