<div class="container">
  <main>
    <div class="py-5 text-center">
      <h2>Office Details Form</h2>
      <p class="lead">Please provide your office Details </p>
    </div>
  </main>
  <div class="container mt-4">

<div class="container mt-4">
<%= form_with(model: @employee, url: office_details_path, local: true) do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Company %>
          <%= f.text_field :Company, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Role %>
          <%= f.text_field :Role, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Employee_id %>
          <%= f.text_field :Employee_id, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Employee%>
          <%= f.email_field :Employee, class: "form-control" %>
        </div>
      </div>
    </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :mail_id %>
          <%= f.email_field :mail_id, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Laptop_serial %>
          <%= f.text_field :Laptop_serial, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Laptop_mode %>
          <%= f.text_field :Laptop_mode, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Laptop_Brand %>
          <%= f.text_field :Laptop_Brand, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Laptop_Mac %>
          <%= f.text_field :Laptop_Mac, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :Hoodies %>
          <%= f.text_area :Hoodies, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :Experience %>
          <%= f.text_area :Experience, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Account_number %>
          <%= f.text_field :Account_number, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Bank_name %>
          <%= f.text_field :Bank_name, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :Branch %>
          <%= f.text_field :Branch, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :IFSC_code %>
          <%= f.text_field :IFSC_code, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :Account_holder %>
          <%= f.text_field :Account_holder, class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <%= f.submit 'Submit', class: "btn btn-danger btn-block m-5" %>
      </div>
    </div>
  <% end %>
</div>