
<%=render 'shared/navbar'%>

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal text-body-emphasis">Welcome</h1>
      <p class="fs-5 text-body-secondary">This is a Simple user Management project</p>
    </div>

    <div class="container d-flex align-items-center justify-content-center">
    <%= link_to form_path do %>
      <button class="btn btn-primary btn-lg" type="button">Add User</button>
    <% end %>

     <%= form_tag(search_path, method: :get, class: "search-form") do %>

    <div class="inner-form">

      <div class="input-group">

        <%= text_field_tag(:query, params[:query], class: "form-control", placeholder: "Enter Keywords") %>

        <%= submit_tag('Search', class: "btn btn-primary") %>
      </div>
    </div>

  <% end %>
    </div>

   